/* Nav Bar*/
.nav-link {
    color: white;
    font-family: "Oswald", sans-serif;
}

/* Body */
body {
    background-color: black;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

/*Sección de presentación*/
#quienes-somos {
    font-family: "Oswald", sans-serif;
}

/* Titulo Destacados */
#Destacados1 {
    font-family: "Oswald", sans-serif;
}

/* Titulo Contacto */
#Contacto {
    font-family: "Oswald", sans-serif;
}

/* Footer */
#footer {
    background-color: #198754;
    font-family: "Oswald", sans-serif;
}

/* Iconos del Footer*/
#footer .github {
    color: white;
}

#footer .x {
    color: white;
}

#footer .linkedin {
    color: white;
}